.idea/
*.iml
log/
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
*.key
~*.doc
*.pdb
**/node_modules
**/webapp/Content-dist
**/webapp/Views-dist
**/webapp/build
**/webapp/manifest.json
!.gitignore
